<a class="noTextDeco" href="<%= envUtil.getRootURL() %>/morsels/page-10.html">
<img class="featureLink" src="<%= envUtil.getRootURL() %>/feat0.jpg" alt="Games in Prolog">
</a>
<a class="noTextDeco" href="<%= envUtil.getRootURL() %>/morsels/page-2.html">
<img class="featureLink" src="<%= envUtil.getRootURL() %>/feat2.jpg" alt="Model of the Mind">
</a>
<a class="noTextDeco" href="<%= envUtil.getRootURL() %>/morsels/page-1.html">
<img class="featureLink" src="<%= envUtil.getRootURL() %>/feat1.jpg" alt="Serious Game Design">
</a>
<a class="noTextDeco" href="<%= envUtil.getRootURL() %>/morsels/page-3.html">
<img class="featureLink" src="<%= envUtil.getRootURL() %>/feat3.jpg" alt="Thought Simulator">
</a>