<%- include(`${ejsPartialRootPath}/common/header.ejs`, {
    title: "ThingsPool - " + entry.title,
    desc: description,
    keywords: keywords,
    url: `${URL_STATIC}/${relativeURL}`,
    pageName: "library",
    pagePathList: [
        {title: PAGE_NAME_MAP["index"], url: URL_STATIC},
        {title: PAGE_NAME_MAP["library"], url: `${URL_STATIC}/library.html`},
        {title: entry.title, url: undefined},
    ],
    backDestination_href: `${URL_STATIC}/library.html`,
}) %>
<h1><%= entry.title %></h1>
<a class="noTextDeco" target="_blank" href="<%= entry.playLinkURL %>">
<img class="s_image" src="<%= URL_STATIC %>/<%= playLinkImagePath %>" alt="Play">
</a>
<div class="zero_row"></div>
<%- content %>
<%- include(`${ejsPartialRootPath}/common/footer.ejs`) %>