<%- include(`${ejsPartialRootPath}/common/header.ejs`, {
    title: "ThingsPool - " + entry.title,
    desc: description,
    keywords: keywords,
    url: `${process.env.URL_STATIC}/${relativeURL}`,
    pageName: "arcade",
    pagePathList: [
        {title: UIConfig.displayText.pageName["index"], url: process.env.URL_STATIC},
        {title: UIConfig.displayText.pageName["arcade"], url: `${process.env.URL_STATIC}/arcade.html`},
        {title: entry.title, url: undefined},
    ],
    backDestination_href: `${process.env.URL_STATIC}/arcade.html`,
}) %>
<h1><%= entry.title %></h1>
<a class="noTextDeco" target="_blank" href="<%= entry.playLinkURL %>">
<img class="s_image" src="<%= process.env.URL_STATIC %>/<%= playLinkImagePath %>" alt="Play">
</a>
<div class="zero_row"></div>
<%- content %>
<%- include(`${ejsPartialRootPath}/common/footer.ejs`) %>