<%- include(`${ejsPartialRootPath}/common/header.ejs`, {
    url: process.env.URL_STATIC,
    pageName: "index",
}) %>
<div class="portal horizontallyCentered">
    <a target="_blank" href="<%= process.env.URL_DYNAMIC %>/mypage">
        <img class="horizontallyCentered" style="position: relative; display: block; max-width: 100%; max-height: 70%; object-fit: contain;" src="<%= process.env.URL_STATIC %>/portal.png" alt="ThingsPool Portal">
        <a class="bigButton horizontallyCentered" target="_blank" href="<%= process.env.URL_DYNAMIC %>/mypage">Enter the Portal</a>
    </a>
</div>
<p class="dim" style="text-align: center;">Door image by <a target="_blank" href="https://www.freepik.com/author/xadartstudio">xadartstudio</a></p>
<div class="xl_row"></div>
<hr>
<h1>About ThingsPool</h1>
<h3>ThingsPool is a developer of experimental web applications, such as simulation games, virtual offices, art creation tools, and many others.</h3>
<p><a class="inlineButton" target="_blank" href="https://www.linkedin.com/company/thingspool">LinkedIn</a><a class="inlineButton" target="_blank" href="https://www.youtube.com/channel/UCkAh1dXv7WSssuldF5InKQg">YouTube</a><a class="inlineButton" target="_blank" href="https://github.com/architsch/youngjin">GitHub</a></p>
<div class="s_row"></div>
<h2>Featured Articles</h2>
<%- include(`${ejsPartialRootPath}/info/featureLinks.ejs`) %>
<%- include(`${ejsPartialRootPath}/common/footer.ejs`) %>