<%- include(`${ejsPartialRootPath}/common/header.ejs`, {
    title: "ThingsPool - " + entry.title,
    desc: entry.title,
    keywords: "thingspool, software toys, technical design, computer science, systems engineering, game design, game development",
    url: `${URL_STATIC}/${entry.dirName}/list.html`,
    pageName: "library",
    pagePathList: [
        {title: PAGE_NAME_MAP["index"], url: URL_STATIC},
        {title: PAGE_NAME_MAP["library"], url: `${URL_STATIC}/library.html`},
        {title: entry.title, url: undefined},
    ],
    backDestination_href: `${URL_STATIC}/library.html`,
}) %>
<h1><%- entry.title %></h1>
<%_ for (let i = postInfoList.length-1; i >= 0; --i) { _%>
<%_ const postInfo = postInfoList[i]; _%>
<a class="postEntryButton" href="<%= URL_STATIC %>/<%= entry.dirName %>/page-<%= postInfo.pageNumber %>.html"><%- postInfo.title %></a>
<%_ } _%>
<%- include(`${ejsPartialRootPath}/common/footer.ejs`) %>