<a class="inlineTabButton <%= (tabName == "owned") ? "selected" : "idle" %>" href="<%= envUtil.getRootURL() %>/rooms.html?tabname=owned"><%= uiConfig.displayText.tabName["rooms/owned"] %></a>
<a class="inlineTabButton <%= (tabName == "joined") ? "selected" : "idle" %>" href="<%= envUtil.getRootURL() %>/rooms.html?tabname=joined"><%= uiConfig.displayText.tabName["rooms/joined"] %></a>
<a class="inlineTabButton <%= (tabName == "pending") ? "selected" : "idle" %>" href="<%= envUtil.getRootURL() %>/rooms.html?tabname=pending"><%= uiConfig.displayText.tabName["rooms/pending"] %></a>
<a class="inlineTabButton <%= (tabName == "others") ? "selected" : "idle" %>" href="<%= envUtil.getRootURL() %>/rooms.html?tabname=others"><%= uiConfig.displayText.tabName["rooms/others"] %></a>

<%_ if (tabName == "owned") { _%>
    <div class="inlineButton" id="create_room_button" <%= (user.ownedRoomCount >= user.ownedRoomCountMax) ? "disabled" : "" %>>Create Room</div>
    <div class="inlineLabel"><%= user.ownedRoomCount %>/<%= user.ownedRoomCountMax %></div>
<%_ } _%>
<div class="listScrollPanel" id="room_list"></div>

<div class="inlineButton" id="prev_page_button">Prev</div><div class="inlineLabel" id="page_label">Page 0</div><div class="inlineButton" id="next_page_button">Next</div>
<div class="zero_row"></div>

<script type="module">
    import { textUtil } from "<%= envUtil.getRootURL() %>/src_shared/util/textUtil.mjs";

    let currPage = 0;
    let loadedItemsCount = 0;
    const searchLimitPerPage = parseInt("<%= searchLimitPerPage %>");
    const $list = $("#room_list");
    const tabName = "<%= tabName %>";

    $("#prev_page_button").click(function() { queryPage(-1); });
    $("#next_page_button").click(function() { queryPage(1); });

    if (tabName == "owned")
    {
        $("#create_room_button").click(function() {
            if (process_pending)
                return;
            process_pending_on();
            
            $.ajax({
                url: `<%= envUtil.getRootURL() %>/popup/create-room`,
                method: "GET",
                success: function(data) {
                    popup_on(data);
                    process_pending_off();
                },
                error: function(xhr) {
                    alert(xhr.responseText);
                    process_pending_off();
                }
            });
        });
    }

    function updatePageButtons()
    {
        $("#prev_page_button").prop("disabled", currPage <= 0);
        $("#next_page_button").prop("disabled", loadedItemsCount < searchLimitPerPage);
        $("#page_label").html(`Page ${currPage}`);
    }

    function queryPage(pageChange)
    {
        if (process_pending)
            return;
        process_pending_on();
        const newPage = Math.max(0, currPage + pageChange);

        $.ajax({
            url: `<%= envUtil.getRootURL() %>/api/search/rooms/<%= tabName %>?page=${newPage}`,
            method: "GET",
            success: function(data) {
                $list.empty();
                currPage = newPage;
                loadedItemsCount = 0;

                for (const d of data)
                {
                    const roomID = d.roomID;
                    const roomName = textUtil.escapeHTMLChars(d.roomName);
                    const userStatus = d.userStatus;
                    const ownerUserName = d.ownerUserName;

                    const ownedOrJoined = (userStatus == "owner" || userStatus == "member");
                    const invited = (userStatus == "invited");
                    const requested = (userStatus == "requested");

                    const btn_enter = ownedOrJoined ?
                        `<a class="inlineButton" href="<%= envUtil.getRootURL() %>/room?roomid=${roomID}">Enter</a>` : "";
                    const btn_accept_invitation = (!ownedOrJoined && invited) ?
                        `<div class="inlineButton" onclick="makeRoomsAPICall(${roomID}, 'accept_invitation', 'PUT')">Accept</div>` : "";
                    const btn_ignore_invitation = (!ownedOrJoined && invited) ?
                        `<div class="inlineButton" onclick="makeRoomsAPICall(${roomID}, 'ignore_invitation', 'DELETE')">Ignore</div>` : "";
                    const btn_request_to_join = (!ownedOrJoined && !invited && !requested) ?
                        `<div class="inlineButton" onclick="makeRoomsAPICall(${roomID}, 'request_to_join', 'POST')">Request to Join</div>` : "";
                    const btn_cancel_request = (!ownedOrJoined && !invited && requested) ?
                        `<div class="inlineButton" onclick="makeRoomsAPICall(${roomID}, 'cancel_request', 'DELETE')">Cancel Request</div>` : "";

                    $(`<div class="listItem">
                        Name: ${roomName}<br>
                        ID: ${roomID}<br>
                        Owner: ${ownerUserName}<br>
                        ${invited ? "<i>You are invited!</i><br>" : ""}
                        ${requested ? "<i>You requested to join.</i><br>" : ""}
                        ${btn_enter}${btn_accept_invitation}${btn_ignore_invitation}${btn_request_to_join}${btn_cancel_request}
                    </div>`).appendTo($list);

                    loadedItemsCount++;
                }

                updatePageButtons();
                process_pending_off();
            },
            error: function(xhr) {
                alert(xhr.responseText);
                process_pending_off();
            }
        });
    }

    function reloadCurrPage()
    {
        queryPage(currPage);
    }

    updatePageButtons();
    makePageQuery(0);

    if (window.thingspool_module_exports == undefined)
        window.thingspool_module_exports = {};
    window.thingspool_module_exports.rooms = { reloadCurrPage };
</script>

<script>
    // requestType = {"accept-invitation" or "ignore-invitation" or "request-to-join" or "cancel-request"}
    function makeRoomsAPICall(roomID, requestType, method)
    {
        if (process_pending)
            return;
        process_pending_on();

        $.ajax({
            url: `<%= envUtil.getRootURL() %>/api/room/${requestType}`,
            method: method,
            data: { roomID },
            success: function(result) {
                popup_off();
                process_pending_off();
                window.thingspool_module_exports.rooms.reloadCurrPage();
            },
            error: function(xhr) {
                alert(xhr.responseText);
                process_pending_off();
            }
        });
    }
</script>