<h1>Log In:</h1>

<div class="textInputLabel">Username:</div><input type="text" class="textInput" id="userName_input">
<div class="zero_row"></div>

<div class="textInputLabel">Password:</div><input type="password" class="textInput" id="password_input">
<div class="xs_row"></div>

<div class="inlineButton" id="login_button">Log In</div><div class="inlineButton" id="register_button">Create Account</div>
<div class="m_row"></div>

<script type="module">
    import { textUtil } from "<%= envUtil.getRootURL() %>/src_shared/util/textUtil.mjs";

    $("#userName_input").on("input", function() {
        this.value = textUtil.sanitizeUserName(this.value);
    });
    $("#password_input").on("input", function() {
        this.value = textUtil.sanitizePassword(this.value);
    });

    $("#login_button").click(function() {
        if (process_pending)
            return;
        process_pending_on();

        const userName = $("#userName_input").val();
        const userNameError = textUtil.findErrorInUserName(userName);
        if (userNameError != null)
        {
            alert(userNameError);
            process_pending_off();
            return;
        }

        const password = $("#password_input").val();
        const passwordError = textUtil.findErrorInPassword(password);
        if (passwordError != null)
        {
            alert(passwordError);
            process_pending_off();
            return;
        }

        $.ajax({
            url: "<%= envUtil.getRootURL() %>/api/login",
            method: "POST",
            data: { userName, password },
            success: function(result) {
                window.location.href = "<%= envUtil.getRootURL() %>/<%= loginDestination %>";
            },
            error: function(xhr) {
                alert(xhr.responseText);
                process_pending_off();
            }
        });
    });

    $("#register_button").click(function() {
        if (process_pending)
            return;

        window.location.href = "<%= envUtil.getRootURL() %>/page/register.html";
    });
</script>