<%_ const v_title = locals.title ? locals.title.replaceAll("\"", "&quot;").replaceAll("<", "&lt;").replaceAll(">", "&gt;") : "ThingsPool"; _%>
<%_ const v_desc = locals.desc ? locals.desc.replaceAll("\"", "&quot;") : "ThingsPool is an experimental web community for collaborative research and development in arts, games, and other forms of interactive media."; _%>
<%_ const v_keywords = locals.keywords ? locals.keywords.replaceAll("\"", "&quot;") : "thingspool, software toys, technical design, computer science, systems engineering, game design, game development"; _%>
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="description" content="<%= v_desc %>">
<meta name="keywords" content="<%= v_keywords %>">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title><%= v_title %></title>
<link rel="shortcut icon" href="<%= process.env.URL_STATIC %>/favicon.ico">
<%_ if (locals.useTailwindCSS) { _%>
<link rel="stylesheet" href="<%= process.env.URL_STATIC %>/app/style.css">
<%_ } else { _%>
<link rel="stylesheet" href="<%= process.env.URL_STATIC %>/style.css">
<%_ } _%>
</head>
<body>
<!-- Will become obsolete
<%_ if (!isStaticPage) { _%>
<%- include(`${ejsPartialRootPath}/common/coreUIDynamics.ejs`) %>
<%_ } _%>
-->
<%_ if (includeFullscreenPanel) { _%>
<div class="fullscreenPanel" style="top: 0; bottom: 0; left: 0; right: 0; width: 95%; height: 100%;">
<%_ } _%>