<div class="inlineButton" onclick="popup_off()">X</div>
<h2>Create Room</h2>

<div class="inlineLabel">Room Name:</div><input type="text" class="inlineTextInput" id="roomName_input">
<div class="zero_row"></div>

<div class="inlineButton" id="create_button">Create Room</div>
<div class="xs_row"></div>

<h3>Notes</h3>
<p>- You currently have <%= user.ownedRoomCount %> rooms. You can create up to <%= user.ownedRoomCountMax %> rooms.</div>
<p>- <%= UIConfig.displayText.message["rule/roomName/length"] %></p>
<p>- <%= UIConfig.displayText.message["rule/roomName/chars"] %></p>

<%- include(`${ejsPartialRootPath}/embeddedScript/config/uiConfig.ejs`) %>
<%- include(`${ejsPartialRootPath}/embeddedScript/util/textUtil.ejs`) %>

<script>
    $("#roomName_input").on("input", function() {
        this.value = TextUtil.sanitizeRoomNameWithoutTrimming(this.value);
    });

    $("#create_button").click(function() {
        if (process_pending)
            return;
        process_pending_on();

        const roomName = TextUtil.sanitizeRoomName($("#roomName_input").val());
        const roomNameError = TextUtil.findErrorInRoomName(roomName);
        if (roomNameError != null)
        {
            alert(UIConfig.displayText.message[roomNameError]);
            process_pending_off();
            return;
        }
        
        $.ajax({
            url: `<%= EnvUtil.getRootURL() %>/api/room/create`,
            method: "POST",
            data: { roomName },
            success: function(result) {
                popup_off();
                process_pending_off();
                pageModule.rooms.reloadCurrPage();
            },
            error: function(xhr) {
                alert(xhr.responseText);
                process_pending_off();
            }
        });
    });
</script>