<%- include(`${ejsPartialRootPath}/common/header.ejs`, {
    url: `${process.env.URL_DYNAMIC}/chat`,
    pageName: "mypage",
    pagePathList: [
        {title: UIConfig.displayText.pageName["index"], url: process.env.URL_STATIC},
        {title: UIConfig.displayText.pageName["mypage"], url: `${process.env.URL_DYNAMIC}/mypage`},
        {title: UIConfig.displayText.pageName["chat"], url: undefined},
    ],
    backDestination_href: `${process.env.URL_DYNAMIC}/mypage`,
}) %>

<%_ if (user) { _%>
    <h1>Chat</h1>

    <label>Message: </label>
    <input id="message_input" type="text">
    <button id="send_button">Send</button>

    <div id="message_list" style="width: 90%; height: 60%; overflow-y: scroll; overflow-x: hidden; background-color: black; border: 0.25% solid gray"></div>

    <script src="https://code.jquery.com/jquery.min.js"></script>
    <script src="<%= process.env.URL_DYNAMIC %>/socket.io/socket.io.min.js"></script>
    <script>
        const socket = io("<%= process.env.URL_DYNAMIC %>/chat_sockets", { auth: user });

        socket.on("connect_error", (err) => {
            $("#message_list").append($("<p>").html(`<font color="red"><b>${err.message}</b></font>`));
        });

        socket.on("message", (message) => {
            $("#message_list").append($("<p>").html(message));
        });

        $("#send_button").click(() => {
            const message = $("#message_input").val().trim();
            socket.emit("message", message);
            $("#message_input").val("");
        });

        addEventListener("keydown", (event) => {
            if (event.key == "Enter")
            {
                event.preventDefault();
                if ($("#message_input").val().trim().length > 0)
                    send();
            }
        });
    </script>
<%_ } else { _%>
    <%- include(`${ejsPartialRootPath}/common/login.ejs`) %>
<%_ } _%>

<%- include(`${ejsPartialRootPath}/common/footer.ejs`) %>