<%- include(`${ejsPartialRootPath}/common/header_min.ejs`, {
    includeFullscreenPanel: false
}) %>

<%_ if (isStaticPage) { _%>
    <h1>Server Not Available</h1>
<%_ } else if (user) { _%>
    <div id="gameCanvasRoot" style="position:absolute; margin:0 0; padding:0 0; left:0; right:0; top:0; bottom:0;"></div>
    <div id="overlayCanvasRoot" style="pointer-events:none; position:absolute; margin:0 0; padding:0 0; left:0; right:0; top:0; bottom:0;"></div>
    <div id="uiRoot" style="pointer-events:none; position:absolute; margin:0 0; padding:0 0; left:0; right:0; top:0; bottom:0;"></div>
    <script type="text/javascript">
        window.thingspool_env = { // client-side environment variables
            mode: `<%- process.env.MODE %>`,
            userString: `<%- JSON.stringify(user) %>`,
            socket_server_url: "<%= (process.env.MODE == `dev`) ? `http://localhost:${process.env.PORT}` : process.env.URL_DYNAMIC %>",
        };
    </script>
    <script type="text/javascript" src="<%= process.env.URL_STATIC %>/app/bundle.js"></script>
    <!--
    <%_ if (user.userType == "guest") { _%>
        <div class="s_row"></div>
        <div class="inlineLabel">Already have an account?</div><a class="inlineButton" href="<%= process.env.URL_DYNAMIC %>/login"><%= UIConfig.displayText.pageName["login"] %></a>
        <div class="zero_row"></div>
        <div class="inlineLabel">Don't have an account yet?</div><a class="inlineButton" href="<%= process.env.URL_DYNAMIC %>/register"><%= UIConfig.displayText.pageName["register"] %></a>
    <%_ } _%>
    -->
<%_ } else { _%>
    <h3>Error: No user found</h3>
<%_ } _%>

<%- include(`${ejsPartialRootPath}/common/footer_min.ejs`, {
    includeFullscreenPanel: false
}) %>