<%- include(`${ejsChunkRootPath}/common/header.ejs`, {
    menuName: "index",
}) %>

<% if (isStaticPage) { %>
<h1>Welcome to ThingsPool</h1>
<h3>ThingsPool is a developer of experimental web applications, such as simulation games, virtual offices, art creation tools, and many others.</h3>
<p><a target="_blank" href="https://www.linkedin.com/company/thingspool">LinkedIn</a>&nbsp;&nbsp;<a target="_blank" href="https://www.youtube.com/channel/UCkAh1dXv7WSssuldF5InKQg">YouTube</a></p>
<div class="s_row"></div>
<hr>
<h2>Games</h2>
<%- include(`${ejsChunkRootPath}/info/gameLinks.ejs`) %>
<div class="s_row"></div>
<hr>
<h2>Featured Articles</h2>
<%- include(`${ejsChunkRootPath}/info/featureLinks.ejs`) %>
<% } else if (user) { %>
<%- include(`${ejsChunkRootPath}/social/dashboard.ejs`) %>
<% } else { %>
<%- include(`${ejsChunkRootPath}/auth/login.ejs`) %>
<% } %>

<%- include(`${ejsChunkRootPath}/common/footer.ejs`) %>