<%- include("../chunks/header.ejs", { pageName: "index" }) %>

<% if (!user) { %>
    <h1>Please login.</h1>
<% } else { %>
    <h1>You are logged in as "<%= user.username %>".</h1>
    <p><%= JSON.stringify(user) %></p>
<% } %>

<%- include("../chunks/gameLinks.ejs") %>
<%- include("../chunks/featureLinks.ejs") %>

<%- include("../chunks/footer.ejs") %>