<h1>Games</h1>
<a class="noTextDeco" href="<%= envUtil.getRootURL() %>/Water-vs-Fire/page.html">
<img class="gameLink" src="<%= envUtil.getRootURL() %>/Water-vs-Fire/entry.jpg" alt="Water vs Fire">
</a>
<a class="noTextDeco" href="<%= envUtil.getRootURL() %>/HuntLand/page.html">
<img class="gameLink" src="<%= envUtil.getRootURL() %>/HuntLand/entry.jpg" alt="HuntLand">
</a>
<a class="noTextDeco" href="<%= envUtil.getRootURL() %>/PoliceChase/page.html">
<img class="gameLink" src="<%= envUtil.getRootURL() %>/PoliceChase/entry.jpg" alt="Police Chase">
</a>
<a class="noTextDeco" href="<%= envUtil.getRootURL() %>/SpaceTown/page.html">
<img class="gameLink" src="<%= envUtil.getRootURL() %>/SpaceTown/entry.jpg" alt="SpaceTown">
</a>
<div class="s_spacer"></div>