<h3>Please log in.</h3>
<div class="s_spacer"></div>

<div class="textInputLabel">ID</div>
<input type="text" class="textInput" id="username_input">
<div class="zero_spacer"></div>

<div class="textInputLabel">Password</div>
<input type="text" class="textInput" id="password_input">
<div class="s_spacer"></div>

<div class="inlineButton" id="login_button">Log In</div>
<div class="inlineButton" id="register_button">Register</div>
<div class="m_spacer"></div>

<script src="https://code.jquery.com/jquery.min.js"></script>
<script src="<%= envUtil.getRootURL() %>/src_client/util/textUtil.js"></script>
<script>
    let login_pending = false;

    $("#login_button").click(function() {
        if (login_pending)
            return;
        login_pending = true;

        $.ajax({
            url: "<%= envUtil.getRootURL() %>/api/login",
            method: "POST",
            data: {
                username: $("username_input").value,
                password: $("password_input").value,
            },
            success: function(result) {
                window.location.href = "<%= envUtil.getRootURL() %>/<%= loginDestination %>";
            },
            error: function(xhr) {
                login_pending = false;
                alert(`ERROR :: (status = ${xhr.status}, statusText = ${xhr.statusText})`);
            }
        });
    });

    $("#register_button").click(function() {
        if (login_pending)
            return;

        console.log("register button clicked");
        textUtil.test();

        window.location.href = "<%= envUtil.getRootURL() %>/page/register";
    });
</script>