<a class="noTextDeco" href="<%= process.env.URL_STATIC %>/morsels/page-10.html">
<img class="m_linkImage" src="<%= process.env.URL_STATIC %>/feat0.jpg" alt="Games in Prolog">
</a>
<a class="noTextDeco" href="<%= process.env.URL_STATIC %>/concepts-of-plan/page-7.html">
<img class="m_linkImage" src="<%= process.env.URL_STATIC %>/feat1.jpg" alt="Linear Algebra Game">
</a>
<a class="noTextDeco" href="<%= process.env.URL_STATIC %>/morsels/page-2.html">
<img class="m_linkImage" src="<%= process.env.URL_STATIC %>/feat2.jpg" alt="Model of the Mind">
</a>
<a class="noTextDeco" href="<%= process.env.URL_STATIC %>/morsels/page-3.html">
<img class="m_linkImage" src="<%= process.env.URL_STATIC %>/feat3.jpg" alt="Thought Simulator">
</a>