<a class="noTextDeco" href="<%= process.env.ROOT_URL %>/morsels/page-10.html">
<img class="m_linkImage" src="<%= process.env.ROOT_URL %>/feat0.jpg" alt="Games in Prolog">
</a>
<a class="noTextDeco" href="<%= process.env.ROOT_URL %>/concepts-of-plan/page-7.html">
<img class="m_linkImage" src="<%= process.env.ROOT_URL %>/feat1.jpg" alt="Linear Algebra Game">
</a>
<a class="noTextDeco" href="<%= process.env.ROOT_URL %>/morsels/page-2.html">
<img class="m_linkImage" src="<%= process.env.ROOT_URL %>/feat2.jpg" alt="Model of the Mind">
</a>
<a class="noTextDeco" href="<%= process.env.ROOT_URL %>/morsels/page-3.html">
<img class="m_linkImage" src="<%= process.env.ROOT_URL %>/feat3.jpg" alt="Thought Simulator">
</a>