<%_ for (const entry of entries) { _%>
<a class="noTextDeco" href="<%= process.env.URL_STATIC %>/<%= entry.dirName %>/page.html">
<img class="m_linkImage" src="<%= process.env.URL_STATIC %>/<%= entry.dirName %>/entry.jpg" alt="<%= entry.title %>">
</a>
<%_ } _%>