<h1>Youngjin Kang</h1>
<p>I am a software engineer with a background in both game development and full-stack web programming. I studied electrical and electronics engineering at the University of Washington, and worked for various software companies including ThingsPool, Signal Studios (Bothell, WA), Valkyrie Entertainment (Seattle, WA), and Galactic Entertainment (United Kingdom).</p>
<p>Links:&nbsp;&nbsp;<a target="_blank" href="https://www.linkedin.com/in/youngjin-kang-55321882">LinkedIn</a>&nbsp;&nbsp;<a target="_blank" href="https://github.com/architsch">GitHub</a>&nbsp;&nbsp;<a target="_blank" href="https://www.pacogames.com/developers/thingspool">PacoGames</a></p>

<div class="s_row"></div>
<hr>
<h2>Writings</h2>
<%- include(`${ejsPartialRootPath}/info/featureLinks.ejs`) %>

<div class="s_row"></div>
<hr>
<h2>Work Experience</h2>

<img class="l_image" src="<%= URL_STATIC %>/portfolio/thingspool-games.jpg" alt="ThingsPool">
<h3>Web Applications (ThingsPool) <i class="dim">2020-Present</i></h3>
<p>Developed and published a number of indie web games (You can play them <a target="_blank" href="<%= URL_STATIC %>/arcade">Here</a>). Besides, I have also been developing the backend system for ThingsPool's custom social networking service.</p>
<p>Links:&nbsp;&nbsp;<a target="_blank" href="<%= URL_STATIC %>">Website</a>&nbsp;&nbsp;<a target="_blank" href="https://www.linkedin.com/company/thingspool">LinkedIn</a></p>

<img class="l_image" src="<%= URL_STATIC %>/portfolio/planet-quest.jpg" alt="PlanetQuest (Galactic Entertainment)">
<h3>PlanetQuest (Galactic Entertainment) <i class="dim">2022</i></h3>
<p>Developed PlanetQuest's custom game engine and map editor, which incorporates procedural generation algorithms. PlanetQuest is a Web3 game which features real-time 3D gameplay as well as purchasable NFT planets.</p>
<p>Links:&nbsp;&nbsp;<a target="_blank" href="https://medium.com/@planetquestgame">Medium</a>&nbsp;&nbsp;<a target="_blank" href="https://linktr.ee/planetquest">LinkTree</a></p>

<img class="l_image" src="<%= URL_STATIC %>/portfolio/guns-up-mobile.jpg" alt="GunsUp! Mobile (Valkyrie Entertainment)">
<h3>GUNS UP! Mobile (Valkyrie Entertainment) <i class="dim">2019-2022</i></h3>
<p>Participated in the development of both the gameplay and backend systems of GUNS UP! Mobile, which is a multiplayer mobile game published by NHN Bigfoot. Implemented the core gameplay system, build-mode, leaderboards, event system, in-app purchasing module, and various other parts of the game.</p>
<p>Links:&nbsp;&nbsp;<a target="_blank" href="https://game.naver.com/lounge/GUNS_UP_Mobile/home">Naver Game</a>&nbsp;&nbsp;<a target="_blank" href="https://www.gunsupmobile.com">Official Website</a></p>

<img class="l_image" src="<%= URL_STATIC %>/portfolio/call-of-guardians.jpg" alt="Call of Guardians (Signal Studios)">
<h3>Call of Guardians (Signal Studios) <i class="dim">2017-2019</i></h3>
<p>Worked on every aspect of engineering in Call of Guardians, which is an online multiplayer MOBA game available on Android and iOS. My primary focus was on in-game synchronous P2P networking, game mechanics & AI programming, and database systems.</p>
<p>Links:&nbsp;&nbsp;<a target="_blank" href="https://www.facebook.com/CallOfGuardiansGame">Facebook</a>&nbsp;&nbsp;<a target="_blank" href="https://www.gunghoonline.com/article/43/new-moba-call-of-guardians-coming-soon-from-gungho-online-entertainment-america">News</a></p>

<img class="l_image" src="<%= URL_STATIC %>/portfolio/daejeon-art-museum.jpg" alt="Social Service Work (Daejeon Museum of Art)">
<h3>Social Service Work (Daejeon Museum of Art) <i class="dim">2013-2015</i></h3>
<p>Worked 8 hours a day selling tickets, renting equipment, guarding exhibition rooms, managing electrical appliances, supervising visitor activities, answering questions from visitors, and installing/maintaining artwork.</p>
<p>Links:&nbsp;&nbsp;<a target="_blank" href="https://www.daejeon.go.kr/dma/index.do">Official Website</a>&nbsp;&nbsp;<a target="_blank" href="https://www.facebook.com/DaejeonMuseumofArt">Facebook</a></p>