<%- include(`${ejsChunkRootPath}/header.ejs`, {
    pageName: "index",
    title: "ThingsPool",
    desc: "ThingsPool is an experimental web community for collaborative research and development in arts, games, and other forms of interactive media.",
    keywords: "thingspool, software toys, technical design, computer science, systems engineering, game design, game development",
    relativePageURL: undefined,
    ogImageURLOverride: undefined,
}) %>

<% if (isStaticPage) { %>
    <h3>Login feature is coming soon... (<a href="https://github.com/architsch/youngjin">Current Progress</a>)</h3>
<% } else if (user) { %>
    <%- include(`${ejsChunkRootPath}/dashboard.ejs`) %>
<% } else { %>
    <%- include(`${ejsChunkRootPath}/login.ejs`) %>
<% } %>

<%- include(`${ejsChunkRootPath}/featureLinks.ejs`) %>
<%- include(`${ejsChunkRootPath}/about.ejs`) %>

<%- include(`${ejsChunkRootPath}/footer.ejs`) %>